{% load static  %}

<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
				 integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
				 crossorigin="anonymous"></script>		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<title> {% block title %} {%endblock%} : Arti</title>


	</head>
	<body>
		<script src="{% static 'js/kantipur.js' %}"></script>
		<script src="{% static 'js/base.js' %}"></script>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">ARTI</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
                    <li class="nav-item active">
						<a class="nav-link" href="/">Hello {{ user.username }} <span class="sr-only">(current)</span></a>
					</li>
{% if request.user.is_staff %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'user-list' %}">View Users</a>
    </li>
{% endif %}
    <li class="nav-item active">
    {% if user.is_authenticated %}
    <a type="button" href ="{% url 'logout' %}" class="btn btn-sm btn-secondary navbar-btn">Logout</a>
    {% else %}
    <a type="button" href ="{% url 'login' %}" class="btn btn-sm btn-secondary navbar-btn">Login</a>
    {% endif %}
    </li>

					{% block links %} {% endblock %}
					<div class="nav pull-right">
						<button type="button" class="btn btn-sm btn-secondary navbar-btn"  onclick="toggle_use_kantipur();" id="toggle-kantipur"></button>
					</div>

					<!--<li class="nav-item dropdown">
						 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						 Dropdown
						 </a>
						 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
						 <a class="dropdown-item" href="#">Action</a>
						 <a class="dropdown-item" href="#">Another action</a>
						 <div class="dropdown-divider"></div>
						 <a class="dropdown-item" href="#">Something else here</a>
						 </div>
						 </li>-->
  </div>
</nav>
    <div class="container-fluid">
      {% block headers %} {% endblock %}
      
      {% block content %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
